<!DOCTYPE html>
<html>
<head>
  <title>Navbar Example</title>
  <link rel="stylesheet" type="text/css" href="navbar.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1>My Social Media</h1>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
