<!DOCTYPE html>
<html>
<head>
  <title>My Social Media</title>
  <link rel="stylesheet" type="text/css" href="sosmed.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1>My Social Media</h1>
      </div>
      <ul>
        <li><a href="#">Post</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="posting">
      <h2>Post an Image</h2>
      <input type="file" name="image" >
      <p>Description</p>
      <input type="text" name="caption">
      <br>
      <br>
      <button>Post</button>
      <br>
    </div>
    <div class="post">
      <div class="user-info">
        <img src="profile-pic.jpg" alt="Profile Picture">
        <h2>Nichmatt</h2>
      </div>
      <img src="post-image.jpg" alt="Post Image">
      <div class="post-actions">
        <a href="#"><i class="far fa-heart"></i></a>
        <a href="#"><i class="far fa-comment"></i></a>
        <a href="#"><i class="far fa-paper-plane"></i></a>
      </div>
      <p class="likes">100 likes</p>
      <p class="caption"><strong>John Doe</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="comments">View all 5 comments</p>
      <p class="time">2 hours ago</p>
    </div>

    <div class="post">
      <div class="user-info">
        <img src="profile-pic.jpg" alt="Profile Picture">
        <h2>Nichmatt 2
        </h2>
      </div>
      <img src="post-image.jpg" alt="Post Image">
      <div class="post-actions">
        <a href="#"><i class="far fa-heart"></i></a>
        <a href="#"><i class="far fa-comment"></i></a>
        <a href="#"><i class="far fa-paper-plane"></i></a>
      </div>
      <p class="likes">50 likes</p>
      <p class="caption"><strong>Jane Smith</strong> Nulla facilisi. Sed fringilla viverra leo.</p>
      <p class="comments">View all 3 comments</p>
      <p class="time">1 day ago</p>
    </div>
  </main>
</body>
</html>
